#header {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    left: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.goto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    z-index: 20;
    margin-top: 20px;
}

p {
    width: 60%;
}
